<div>
  <h2><%= @ttt_rules.desc[:instructions] %></h2>

  <form method='post' action='/game'>
    <h2>Play against:</h2>
    <input type='radio' id='comp' value='comp' name='mode' checked>Computer</input>
    </br>
    <input type='radio' id='player' value='player' name='mode'>Another Player</input>
    </br>
    <input class="button" type='submit' value='PLAY NOW'>
  </form>

  <iframe src="//giphy.com/embed/Xs4YDTIh7Yt6E" width="280" height="280" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="http://giphy.com/gifs/math-art-Xs4YDTIh7Yt6E"></a></p>

</div>
